div.search_bar {
    height:3em;
    padding:0; 

}

form{
    position: relative;
    height: auto;
    width: 50%;
    margin:auto;
    padding: 10px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    filter: drop-shadow(3px 3px 3px #000000);
}

input {
    border: 1px dotted #999;
    margin: 10px;
    box-sizing: border-box;
}
input.search_input{
    width: 20em;
}


/************* USER INPUT SECTION ************/
section.user_input
{
    height: 8%;
    margin: 1em auto;

    padding:5px; 

    width: 70%;
    overflow: auto;

}

p.user_input
{
    font-family: Rockwell, sans-serif;
    color: white;
    font-size: 1.4em;
    text-align: center;

    padding:0; 
    margin:0;
}
