div.table_format{
    font-family: Rockwell, sans-serif;
    color: white;
    height: 70%;
    width: 80%;
    
    margin: auto;
    
	display: flex;
	flex-direction: row;
    justify-content: space-evenly;
    
    overflow:auto;
    filter: drop-shadow(3px 3px 3px #000000);
}


.results_format{
    border-spacing: 30px 2px;
    border-collapse: collapse;
    background-image: linear-gradient(to top, #35393a, #3a3c3d, #3e3f40, #424343, #464646);

    text-align: center;
    
    /* #051937 */
}


td {
    padding: 5px;
    border-left: 6px solid white;
}
td.no_border{
    border-left: none;
}

tr.table_header {
    font-size: 1.3em;
}

tr.table_results{
    font-size: 1em;
}