.table_format{
    font-family: Rockwell, sans-serif;
    color: white;
    height: 50%;
    width: 100%;
    
    margin: auto;
        
	display: flex;
	flex-direction: row;
    justify-content: space-evenly;
    
    overflow:auto;
    filter: drop-shadow(3px 3px 3px #000000);

    border: purple solid 5px;
}


.results_format{
    border-spacing: 30px 2px;
    border-collapse: collapse;
    background-image: linear-gradient(to top, #35393a, #3a3c3d, #3e3f40, #424343, #464646);

    text-align: left;
    
    /* #051937 */
}

.table_header{
    text-align: center;
}


tr.table_header {
    font-size: 1.5em;
}

tr.table_results{
    font-size: 1em;
}

.data{
    padding: 3px;
}