div.search_bar {
    height:3em;
    padding:0; 

}

form{
    height: auto;
    width: 50%;
    margin:auto;
    padding: 10px;

    display: flex;
    flex-direction: row;
    justify-content: center;

    filter: drop-shadow(3px 3px 3px #000000);
}

input {
    border: 1px dotted #999;
    margin: 10px;
    box-sizing: border-box;
}

input.search_input{
    width: 20em;
}