div.table_format{
    font-family: Rockwell, sans-serif;
    color: white;
    height: 70%;
    width: 80%;
    
    margin: auto;
    

	display: flex;
	flex-direction: row;
	/* align-items: center; */
    justify-content: space-evenly;
    
    text-align: center;

    overflow:auto;

}

.results_format{


    border-spacing: 30px 2px;
}

tr.table_header {
    font-size: 1.3em;
}

tr.table_results{
	font-size: 1em;
}